<div id=wrapper>
	<div id=header>
		<div class=float>
			<img src=/favicon.ico>
		</div>
		<div>
			<h2>Home</h2>
		</div>
	</div>
	<div id=content>
		<div id=right>
			<div id=contents>
				{nest landing/index}
			</div>
		</div>
		<div id=left>
			<div id=menu class=float>
				<a id=landing class=selected>Home<span>home page</span></a>
				<a id=todo>Todo<span>rich dynamic UI</span></a>
				<a id=budget>Family budget<span>secure data storage</span></a>
				<a id=blog>Blog<span>aggregation, live updates</span></a>
				<a id=bulb>Light bulb<span>share ideas</span></a>
			</div>
		</div>
	</div>
	<div id=footer>
		<p class=copyright>Copyright &copy; 2009 Philipp Pirozhkov&nbsp;&nbsp;Template Designed by <a href="http://www.thewebhub.com/">TheWebHub.com</a>&nbsp;&nbsp;Free Icons by <a href="http://famfamfam.com/">FAMFAMFAM</a></p>
	</div>
</div>