<div id="wrapper">
	<div id="header">
		<div class=float>
			<img src='/favicon.ico'/>
		</div>
		<div>
			<h2>Home</h2>
		</div>
	</div>
	<div id=content>
		<div id=right>
			<div id=contents>
				Contents here
			</div>
		</div>
		<div id=left>
			<div id=menu class=float>
				<ul>
					<li><a href='fruits/'>Fruit store</a>drag'n'drop</li>
					<li><a href='todo/'>Todo</a>server push</li>
					<li><a href='album/'>Photo album</a>autosave</li>
					<li><a href='budget/'>Family budget</a>server calculations</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="footer">
		<p class="copyright">Copyright &copy; 2009 Philipp Pirozhkov&nbsp;&nbsp;Template Designed by <a href="http://www.thewebhub.com/">TheWebHub.com</a>&nbsp;&nbsp;Free Icons by <a href="http://famfamfam.com/">FAMFAMFAM</a></p>
	</div>
</div>