<div id=wrapper>
	<div id=header>
		<div class=float>
			<img src=favicon.ico>
		</div>
		<div>
			<h2>Home</h2>
		</div>
	</div>
	<div id=content>
		<div id=right>
			<div id=contents>
				Contents here
			</div>
		</div>
		<div id=left>
			<div id=menu class=float>
				<a id=fruits>Fruit store<span>drag'n'drop</span></a>
				<a id=todo>Todo<span>server push</span></a>
				<a id=album>Photo album<span>autosave</span></a>
				<a id=budget>Family budget<span>server calculations</span></a>
			</div>
		</div>
	</div>
	<div id=footer>
		<p class=copyright>Copyright &copy; 2009 Philipp Pirozhkov&nbsp;&nbsp;Template Designed by <a href="http://www.thewebhub.com/">TheWebHub.com</a>&nbsp;&nbsp;Free Icons by <a href="http://famfamfam.com/">FAMFAMFAM</a></p>
	</div>
</div>