<div id=wrapper>
	<div id=header>
		<div>
			<h2>Ryan/Reia classic example webapp: mail</h2>
		</div>
	</div>
	<div id=content>
		<div id=right>
			<div id=contents>
				{contents}
			</div>
		</div>
		<div id=left>
			<div id=menu class=float>
				<a href='/app/home'>home<span>general info</span></a>
				<a href='/app/mail/unread'>unread<span>9 new messages</span></a>
				<a href='/app/mail/inbox'>inbox<span></span></a>
				<a href='/app/mail/sent'>sent<span></span></a>
				<a href='/app/mail/spam'>spam<span></span></a>
				<a href='/app/mail/trash'>trash<span>aggregation, live updates</span></a>
			</div>
		</div>
	</div>
	<div id=footer>
		<p class=copyright>Copyright &copy; 2009 Philipp Pirozhkov&nbsp;&nbsp;Template Designed by <a href="http://www.thewebhub.com/">TheWebHub.com</a>&nbsp;&nbsp;Free Icons by <a href="http://famfamfam.com/">FAMFAMFAM</a></p>
	</div>
</div>