<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv=content-type content="text/html; charset=utf-8" />
<meta name=keywords content="" /><meta name=description content="" />
<title>Ryan/Reia classic example webapp</title>
<head>
<link href="/css/app.css" rel=stylesheet type=text/css>
</head>
<body>
<div id=wrapper>
	<div id=header>
		<div>
			<h2>Ryan/Reia classic example webapp: mail</h2>
		</div>
	</div>
	<div id=content>
		<div id=right>
			<div id=contents>
				{contents}
			</div>
		</div>
		<div id=left>
			<div id=menu class=float>
				<a class={selected.home} icon=home href='/app/home'>home<span>general info</span></a>
				<a class={selected.new} icon=mail_new href='/app/mail/new'>new<span>create message</span></a>
				<a class={selected.unread} icon=mail_unread href='/app/mail/unread'>unread<span>{total.unread} new messages</span></a>
				<a class={selected.inbox} icon=mail_inbox href='/app/mail/inbox'>inbox<span>{total.inbox} messages</span></a>
				<a class={selected.sent} icon=mail_sent href='/app/mail/sent'>sent<span>{total.sent} messages</span></a>
				<a class={selected.spam} icon=mail_spam href='/app/mail/spam'>spam<span>{total.spam} messages</span></a>
				<a class={selected.trash} icon=mail_trash href='/app/mail/trash'>trash<span>{total.trash} messages</span></a>
			</div>
		</div>
	</div>
	<div id=footer>
		<p class=copyright>Copyright &copy; 2009 Philipp Pirozhkov&nbsp;&nbsp;Template Designed by <a href="http://www.thewebhub.com/">TheWebHub.com</a>&nbsp;&nbsp;Icons by <a href="http://tango.freedesktop.org/Tango_Icon_Gallery">Tango Icon</a></p>
	</div>
</div>
</body>
</html>

