ebin/**/*
erl_crash.dump
*.patch
*.beam
.DS_Store
experiments
application_example/logs/*
application_example_classic/logs/*
deps/mochiweb/src/.svn/*
deps/mochiweb/.svn/*
**/*.*~
src/retem/retem_parse.erl
src/retem/retem_scan.erl
src/retem/retem.erl