*{
	overflow: hidden;
}

html, body {
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

html {
	border: solid .2em #ccc;
}

a {
	display: block;
	text-decoration: none;
}

div {
	padding: .5em;
}

#menu {
	border: solid .2em #659CEF;
	background-color: #2956B2;
	color: #ffc;
}

div.gray {
	border: solid .2em #aaa;
	background-color: #ccc;
	color: #222;
}

div.gray a {
	color: #00a;
}

div.gray a:hover {
	color: #22f;
}

div.box {
	border: solid .2em #999;
	background-color: #aaa;
	color: #000;
}

div.float {
	float: left;
}

#menu a {
	color: #dd0;
}

#menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#menu li {
	padding: 0.4em;
	list-style-type: none;
	cursor:default;
}

#menu li:hover {
	background-color: #3966c2;
}
