*{
	overflow: hidden;
}

html, body {
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

a {
	text-decoration: none;
}

div {
	padding: .5em;
}

div.gray {
	border: solid .2em #aaa;
	background-color: #ccc;
	color: #222;
}

div.gray a.selected {
	background-color: #aaa;
}

div.gray a {
	color: #00a;
	padding: .2em;
}

div.gray a:hover {
	color: #22f;
}

div.box {
	border: solid .2em #999;
	background-color: #aaa;
	color: #000;
}

div.float {
	float: left;
}

#menu {
	-moz-user-select: none;
	-khtml-user-select: none;
	background-color: #2956B2;
	color: #ffc;
}

#menu a {
	display: block;
	color: #dd0;
}

#menu ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#menu li {
	cursor: pointer;
	padding: 0.4em;
	margin: 0 0.2em 0 0.2em;
	list-style-type: none;
}

#menu li:hover {
	background-color: #2f5eba;
	border-left: solid 0.2em #fff;
	margin-left: 0;
}

#menu li.selected {
	background-color: #3966c2;
}
