<div id=todo_bar class=toolbar>
	<a id=add icon=add href=app/todo/add>add</a>
	<a id=today icon=today href=app/todo/today>today</a>
	<a id=tomorrow icon=tomorrow href=app/todo/tomorrow>tomorrow</a>
	<a id=few_days icon=few_days href=app/todo/few_days>next few days</a>
	<a id=later icon=later href=app/todo/later>later</a>
	<a id=history icon=history href=app/todo/history>history</a>
</div>
<div class=ghostbox>
	<div id=todos class='box float'>
		{nest todo/today}
	</div>
	<div id=todo class='box float'>
		{nest todo/show}
	</div>
</div>
